.banner-home {
  width: fit-content;
  height: fit-content;
  background-image: linear-gradient( 90deg, rgba($color: $blue-dark, $alpha: 0.2) 0%, rgba($color: $gray-light, $alpha: 0.2) 40%);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid $white;
  padding: 10px;
  transition: margin .3s ease;
  margin-bottom: 100px;
  h1 {
    color: $white;
  }
  &.down {
    margin-top: 60px;
  }
  // box-shadow: 0px 0px 3px 2px rgba($color: white, $alpha: 0.2);
}
