// define my colors here
// https://coolors.co/091540-720e07-757780-f5f5f5-1b2cc1
$blue-dark: #091540;
$blue-light: #1B2CC1;
$red: #720E07;
$white: #F5F5F5;
$gray: #757780;
$gray-dark: #444444;
$gray-light: #cccccc;
$black: #111111;
