@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro&display=swap");
.nav {
  width: 100%;
  height: 2.5rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  background-image: linear-gradient(90deg, rgba(27, 44, 193, 0.2) 0%, rgba(117, 119, 128, 0.2) 20%);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #F5F5F5;
  transition: all .3s ease; }
  .nav.away {
    transform: translate(-50%, -100%); }
  .nav::after {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%);
    background: whitesmoke; }
  .nav h2 {
    color: #111111;
    font-weight: 500;
    font-size: 1.5rem;
    color: #F5F5F5; }
  .nav .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 25px;
    justify-content: flex-end; }
    .nav .links a {
      position: relative;
      text-decoration: none;
      color: #F5F5F5;
      font-size: 1rem;
      font-weight: 300;
      cursor: pointer;
      transition: all .3s ease; }
      .nav .links a::after {
        content: '';
        height: 1px;
        width: 0px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        background: #F5F5F5;
        transition: width .3s ease; }
      .nav .links a:hover::after {
        width: 90%; }
  .nav .title {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center; }
    .nav .title #position {
      display: block;
      opacity: 0;
      transform: scale(0.4);
      font-size: 1rem;
      transition: all .3s ease; }
      .nav .title #position.show {
        opacity: 1;
        transform: scale(1); }

.r-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 0 auto;
  margin-top: 3.4375rem; }
  .r-container.rounded {
    border-radius: 10px;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3); }

@media (min-width: 600px) {
  .r-container {
    width: 85vw; } }

@media (min-width: 1000px) {
  .r-container {
    width: 75vw;
    max-width: 1400px; } }

.linkspace {
  width: 60%;
  height: 200px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background: #cccccc;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 2px rgba(245, 245, 245, 0.2); }

.terminal {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .terminal .codespace {
    width: 320px;
    position: relative;
    overflow: hidden;
    height: fit-content;
    min-height: 30.6px;
    padding: 5px 0px;
    background-color: rgba(34, 34, 34, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 4px 2px rgba(245, 245, 245, 0.2);
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .terminal .codespace p, .terminal .codespace .cursor {
      font-family: "Source Code Pro", monospace;
      color: rgba(245, 245, 245, 0.8); }
    .terminal .codespace .cursor {
      position: absolute;
      left: 10px;
      top: 5px;
      font-weight: 600; }
    .terminal .codespace p {
      width: fit-content;
      margin-left: 25px;
      margin-bottom: 2px; }

.avatar-banner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 1px rgba(245, 245, 245, 0.2);
  cursor: '🔍'; }

.banner-home {
  width: fit-content;
  height: fit-content;
  background-image: linear-gradient(90deg, rgba(9, 21, 64, 0.2) 0%, rgba(204, 204, 204, 0.2) 40%);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #F5F5F5;
  padding: 10px;
  transition: margin .3s ease; }
  .banner-home h1 {
    color: #F5F5F5; }
  .banner-home.down {
    margin-top: 60px; }

.button-thin {
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  border: 1px solid rgba(245, 245, 245, 0.7);
  box-shadow: 0px 0px 0px 0px rgba(245, 245, 245, 0);
  color: rgba(245, 245, 245, 0.7);
  font-weight: 500;
  transition: all .1s ease;
  margin: 0; }
  .button-thin:hover {
    box-shadow: 0px 0px 5px 2px rgba(245, 245, 245, 0.2); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgba(245, 245, 245, 0.7); }

body {
  background: #17181C;
  scroll-behavior: smooth;
  padding-bottom: 50px; }

a {
  text-decoration: none; }
